<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>  
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">

            <!-- Campo Id (Solo para visualización) -->
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <input type="text"
                  class="form-control"
                  [value]="vehicle.id" 
                  disabled
                >
                <br>
              </div>
            </div>
            <br>

            <!-- Campo License Plate -->
            <div class="row">
              <div class="col-4">
                <label>Placa del Vehículo:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="license_plate" 
                  [ngClass]="{'is-invalid': theFormGroup.get('license_plate').errors && (theFormGroup.get('license_plate').dirty || theFormGroup.get('license_plate').touched || trySend)}"
                />
                <br>
                <div *ngIf="theFormGroup.get('license_plate').errors && (theFormGroup.get('license_plate').dirty || theFormGroup.get('license_plate').touched || trySend)"
                  class="invalid-feedback"
                >
                  <small class="msnError" *ngIf="theFormGroup.get('license_plate').errors['required']">El campo placa es obligatorio.</small>
                  <small class="msnError" *ngIf="theFormGroup.get('license_plate').errors['pattern']">La placa solo debe contener letras mayúsculas, números y guiones.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo Tipo de Vehículo -->
            <div class="row">
              <div class="col-4">
                <label>Tipo de Vehículo:</label>
              </div>
              <div class="col-8">
                <select
                  class="form-control"
                  formControlName="type_vehicle"
                  [ngClass]="{
                    'is-invalid':
                      theFormGroup.get('type_vehicle').errors &&
                      (theFormGroup.get('type_vehicle').dirty ||
                        theFormGroup.get('type_vehicle').touched ||
                        trySend)
                  }"
                >
                  <option value="Automóvil">Automóvil</option>
                  <option value="Camión">Camión</option>
                  <option value="Motocicleta">Motocicleta</option>
                  <option value="Bicicleta">Bicicleta</option>
                  <option value="Bus">Bus</option>
                </select>
                <br />
                <div
                  *ngIf="
                    theFormGroup.get('type_vehicle').errors &&
                    (theFormGroup.get('type_vehicle').dirty ||
                      theFormGroup.get('type_vehicle').touched ||
                      trySend)
                  "
                  class="invalid-feedback"
                >
                  <small
                    class="msnError"
                    *ngIf="theFormGroup.get('type_vehicle').errors['required']"
                    >El tipo de vehículo  es obligatorio.</small
                  >
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-4">
                Seguro:
              </div>
              <div class="col-8">
                <select 
                  class="form-control" 
                  formControlName="insurance_id" 
                  [(ngModel)]="vehicle.insurance.id"
                  [ngClass]="{
                    'is-invalid':
                      theFormGroup.get('insurance_id').errors &&
                      (theFormGroup.get('insurance_id').dirty ||
                        theFormGroup.get('insurance_id').touched ||
                        trySend)
                  }"
                >
                  <option *ngFor="let option of insurances" [value]="option.id">
                    ID: {{ option.id }} - Número de póliza: {{ option.policy_number }} - Fecha de expiración: {{ option.expiration_date }}
                  </option>
                </select>
                <br>
                <div
                  *ngIf="
                    theFormGroup.get('insurance_id').errors &&
                    (theFormGroup.get('insurance_id').dirty ||
                      theFormGroup.get('insurance_id').touched ||
                      trySend)
                  "
                  class="invalid-feedback"
                >
                  <small
                    class="msnError"
                    *ngIf="theFormGroup.get('insurance_id').errors['required']"
                    >El seguro es obligatorio.</small
                  >
                </div>

              </div>
            </div>
            <br>

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode==2" class="btn btn-success btn-block" (click)="create()">Crear</button>
                <button *ngIf="mode==3" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
