<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div> 
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
        </div>

        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">

            <!-- Campo Id (Solo para visualización) -->
            <div class="row">
                <div class="col-4">
                  <label>Id:</label>
                </div>
                <div class="col-8">
                  <p>{{ naturalPerson.id }}</p>
                </div>
              </div>
              <br />

            <!-- Campo Tipo de Documento -->
            <div class="row">
              <div class="col-4">
                <label>Tipo de documento:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="document_type" 
                  [(ngModel)]="naturalPerson.document_type" 
                />
                <br>
                <div *ngIf="getTheFormGroup.document_type.errors && (getTheFormGroup.document_type.dirty || getTheFormGroup.document_type.touched || trySend)">
                  <small class="msnError" *ngIf="getTheFormGroup.document_type.errors['required']">Este campo es obligatorio.</small>
                  <small class="msnError" *ngIf="getTheFormGroup.document_type.errors['pattern']">Solo se permiten letras.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo Número de Documento -->
            <div class="row">
              <div class="col-4">
                <label>Número de documento:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="document_number" 
                  [(ngModel)]="naturalPerson.document_number" 
                />
                <br>
                <div *ngIf="getTheFormGroup.document_number.errors && (getTheFormGroup.document_number.dirty || getTheFormGroup.document_number.touched || trySend)">
                  <small class="msnError" *ngIf="getTheFormGroup.document_number.errors['required']">Este campo es obligatorio.</small>
                  <small class="msnError" *ngIf="getTheFormGroup.document_number.errors['pattern']">Solo se permiten números.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo ID de la Compañía -->
            <div class="row">
              <div class="col-4">
                <label>ID de la compañía:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="company_id" 
                  [(ngModel)]="naturalPerson.company_id" 
                />
                <br>
                <div *ngIf="getTheFormGroup.company_id.errors && (getTheFormGroup.company_id.dirty || getTheFormGroup.company_id.touched || trySend)">
                  <small class="msnError" *ngIf="getTheFormGroup.company_id.errors['pattern']">Solo se permiten números enteros.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo ID del Cliente -->
            <div class="row">
              <div class="col-4">
                <label>ID del cliente:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="customer_id" 
                  [(ngModel)]="naturalPerson.customer_id" 
                />
                <br>
                <div *ngIf="getTheFormGroup.customer_id.errors && (getTheFormGroup.customer_id.dirty || getTheFormGroup.customer_id.touched || trySend)">
                  <small class="msnError" *ngIf="getTheFormGroup.customer_id.errors['pattern']">Solo se permiten números enteros.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo ID del Usuario -->
            <div class="row">
              <div class="col-4">
                <label>ID del usuario:</label>
              </div>
              <div class="col-8">
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="user_id" 
                  [(ngModel)]="naturalPerson.user_id" 
                />
                <br>
                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                  <small class="msnError" *ngIf="getTheFormGroup.user_id.errors['pattern']">Debe ser una cadena alfanumérica válida.</small>
                </div>
              </div>
            </div>
            <br />

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode==2" class="btn btn-success btn-block" (click)="create()">Crear</button>
                <button *ngIf="mode==3" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
              </div>
            </div>
            <br />

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
