<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center text-center">
                        <div class="col-4">
                            <h3 class="mb-0">Seguros</h3> 
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-3 text-end">
                            <button type="button" class="btn btn-success" (click)="create()">
                                <i class="fas fa-plus"></i> Crear
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Número de Póliza</th>
                                <th scope="col">Fecha de Expiración</th>
                                <th scope="col">ID del Vehículo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insurance of insurances">
                                <td>{{insurance.id}}</td>
                                <td>{{insurance.policy_number}}</td>
                                <td>{{insurance.expiration_date | date}}</td>
                                <td>{{insurance.vehicle_id}}</td>
                                <td>
                                    <button class="btn btn-info" (click)="view(insurance.id)">Ver</button>
                                    <button class="btn btn-warning" (click)="update(insurance.id)">Editar</button>
                                    <button class="btn btn-danger" (click)="delete(insurance.id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>