<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode==1">Visualizar</h1>
                    <h1 *ngIf="mode==2">Crear</h1>
                    <h1 *ngIf="mode==3">Actualizar</h1>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    ID:
                                </div>
                                <div class="col-8">
                                    <input type="number"
                                        class="form-control"
                                        [value]="driver_vehicle.id" 
                                        disabled
                                    >
                                    <br>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4">
                                    ID de Conductor:
                                </div>
                                <div class="col-8">
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        formControlName="driver_id" 
                                        [ngClass]="{'is-invalid': theFormGroup.get('driver_id').errors && (theFormGroup.get('driver_id').dirty || theFormGroup.get('driver_id').touched || trySend)}"
                                    />
                                    <br>
                                    <div *ngIf="theFormGroup.get('driver_id').errors && (theFormGroup.get('driver_id').dirty || theFormGroup.get('driver_id').touched || trySend)"
                                        class="invalid-feedback"
                                    >
                                        <small class="msnError" *ngIf="theFormGroup.get('driver_id').errors['required']">El ID de conductor es obligatorio.</small>
                                        <small class="msnError" *ngIf="theFormGroup.get('driver_id').errors['pattern']">El ID de conductor solo debe contener números.</small>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4">
                                    ID de Dueño:
                                </div>
                                <div class="col-8">
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        formControlName="owner_id" 
                                        [ngClass]="{'is-invalid': theFormGroup.get('owner_id').errors && (theFormGroup.get('owner_id').dirty || theFormGroup.get('owner_id').touched || trySend)}"
                                    />
                                    <br>
                                    <div *ngIf="theFormGroup.get('owner_id').errors && (theFormGroup.get('owner_id').dirty || theFormGroup.get('owner_id').touched || trySend)"
                                        class="invalid-feedback"
                                    >
                                        <small class="msnError" *ngIf="theFormGroup.get('owner_id').errors['required']">El ID de dueño es obligatorio.</small>
                                        <small class="msnError" *ngIf="theFormGroup.get('owner_id').errors['pattern']">El ID de dueño solo debe contener números.</small>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4">
                                    ID de Vehículo:
                                </div>
                                <div class="col-8">
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        formControlName="vehicle_id" 
                                        [ngClass]="{'is-invalid': theFormGroup.get('vehicle_id').errors && (theFormGroup.get('vehicle_id').dirty || theFormGroup.get('vehicle_id').touched || trySend)}"
                                    />
                                    <br>
                                    <div *ngIf="theFormGroup.get('vehicle_id').errors && (theFormGroup.get('vehicle_id').dirty || theFormGroup.get('vehicle_id').touched || trySend)"
                                        class="invalid-feedback"
                                    >
                                        <small class="msnError" *ngIf="theFormGroup.get('vehicle_id').errors['required']">El ID de vehículo es obligatorio.</small>
                                        <small class="msnError" *ngIf="theFormGroup.get('vehicle_id').errors['pattern']">El ID de vehículo solo debe contener números.</small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <div class="row">
                                <div class="col-4">
                            
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-primary btn-block">Crear</button>
                                    <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-primary btn-block">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>