<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode==1">Visualizar</h1>
                    <h1 *ngIf="mode==2">Crear</h1>
                    <h1 *ngIf="mode==3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                ID:
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="driver_vehicle.id" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ID de Conductor:
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="driver_vehicle.driver_id" [disabled]="mode==1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ID de Dueño:
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="driver_vehicle.owner_id" [disabled]="mode==1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ID de Vehículo:
                            </div>
                            <div class="col-8">
                                <input 
                                type="number" 
                                class="form-control" 
                                [(ngModel)]="driver_vehicle.vehicle_id" 
                                [disabled]="mode==1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                          
                            </div>
                            <div class="col-8">
                                <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-primary btn-block">Crear</button>
                                <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-primary btn-block">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>