<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center text-center">
                        <div class="col-4">
                            <h3 class="mb-0">Administradores</h3> 
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-3 text-end">
                            <button type="button" class="btn btn-success" (click)="create()">
                                <i class="fas fa-plus"></i> Crear
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Número de Teléfono</th>
                                <th scope="col">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let admin of administrator">
                                <td>{{admin.id}}</td>
                                <td>{{admin.phone_number}}</td>
                                <td>{{admin.active ? 'Sí' : 'No'}}</td>
                                <td>
                                    <button class="btn btn-info" (click)="view(admin.id)">Ver</button>
                                    <button class="btn btn-warning" (click)="update(admin.id)">Editar</button>
                                    <button class="btn btn-danger" (click)="delete(admin.id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>